html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
	font-family: 'Open Sans';
	src: url(assets/fonts/open-sans/open-sans-regular.woff2) format('woff2'), url(assets/fonts/pt-sans/open-sans-regular.woff) format('woff');
	font-weight: regular;
}

@font-face {
	font-family: 'PT Sans';
	src: url(assets/fonts/pt-sans/pt-sans-regular.woff2) format('woff2'), url(assets/fonts/pt-sans/pt-sans-regular.woff) format('woff');
	font-weight: regular;
}

@font-face {
	font-family: 'PT Sans Narrow';
	src: url(assets/fonts/pt-sans-narrow/pt-sans-narrow-700.woff2) format('woff2'), url(assets/fonts/pt-sans-narrow/pt-sans-narrow-700.woff) format('woff');
	font-weight: bold;
}

@font-face {
	font-family: 'SegoeWP';
	src: url(assets/fonts/segoe-wp/SegoeWP.woff) format('woff');
	font-weight: regular;
}

@font-face {
	font-family: 'Asap';
	src: url(assets/fonts/asap/asap-regular.woff2) format('woff2'), url(assets/fonts/asap/asap-regular.woff) format('woff');
	font-weight: regular;
}

@font-face {
	font-family: 'Lucida Sans';
	src: url(assets/fonts/lucida/Lucida-Sans-Italic.woff2) format('woff2'), url(assets/fonts/lucida/Lucida-Sans-Italic.woff) format('woff');
	font-weight: regular;
	font-style: italic;
}

.w-wrapper {
	min-width: 640px;
	max-width: 1300px;
	margin: 0 auto;
}


.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

.header__top {
	display: flex;
}

.logo {
	background-color: #4c4c4c;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.logo--header {
	padding: 13px 24px 10px 12px;
	background-image: url('assets/images/logo-gradient.png');
}


.logo__image {
	height: 39px;
	width: 39px;
	position: relative;
	margin-right: 8px;
}

.logo-icon {
	fill: #f5c506;
	height: 100%;
	width: 100%;
}

.logo-icon--shadow {
	opacity: 0.5;
	position: absolute;
	left: 0;
	top: 0;
}

.logo__text {
	font-family: 'Lucida Sans';
	font-size: 19px;
	text-transform: uppercase;
	font-style: italic;
	color: white;
	text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.42);
}

.main-menu {
	display: flex;
	flex-grow: 1;
}

.main-menu__item:last-child{
	flex-grow: 1;
}
	


.main-menu__item:not(:last-child) {
	border-right: 1px solid #b99403;
}

.main-menu__link {
	font-family: "SegoeWP";
	font-size: 19px;
	text-transform: uppercase;
	text-decoration: none;
	color: #9B7D3D;
	background-color: #f4c406;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	transition: all 0.4s;
}

.main-menu__link:hover {
	color: #f4c406;
	background-color: #9B7D3D;
}

.main-menu__link:active {
	color: black;
	background-color: white;
}

.main-menu__link:hover .main-menu__icon {
	fill: #f4c406;
}

.main-menu__link:active .main-menu__icon {
	fill: black;
}

.main-menu__link--about {
	padding-left: 24px;
	padding-right: 25px;
}

.main-menu__link--services {
	padding-left: 8px;
	padding-right: 10px;
}

.main-menu__link--contact {
	padding-left: 13px;
	padding-right: 15px;	
}


.main-menu__icon {
	fill: #b99403;
	margin-right: 10px;
}

.main-menu__icon--about-us {
	height: 22px;
	width: 24px;
}

.main-menu__icon--services {
	height: 22px;
	width: 22px;
}

.main-menu__icon--contact {
	height: 21px;
	width: 28px;
}

.slide__video {
	width: 100%;
	height: auto;
	vertical-align: bottom;
}

.slide-description {
	display: none;
}

.slider__navigation {
	display: none;
}

.advantages{
	background-color: #f7f7f7;
	background-image: url('assets/images/advantages_back.png');
}

.advantages-list {		
	padding-top: 25px;
	padding-bottom: 34px;
	display: flex;
	max-width: 560px;
	width:100%;
	margin-left: 15px;
	justify-content: space-between;
}

.advantages__icon {
	fill: #f5c506;
	display: block;
	
}

.advantages__icon--design {
	height: 60px;
	width: 90px;
	margin-top: 10px;
	margin-left: 30px;
	margin-bottom: 20px;
}

.advantages__icon--custom {
	height: 70px;
	width: 67px;
	margin-left: 25px;
	margin-top: 2px;
	margin-bottom: 18px;
}

.advantages__icon--free {
	height: 70px;
	width: 70px;
	margin-left: 3px;
    margin-top: 2px;
    margin-bottom: 18px;
}

.advantages-list__text {
	font-family: 'SegoeWP';
	font-size: 23px;
	text-transform: uppercase;
}

.description {
	padding: 10px 9px 0 9px;
}

.description__header {
	display: none;
}

.interactive-cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.card{
	position: relative;
}

.card--text {
	font-family: 'SegoeWP';
	color: white;
	font-size: 28px;
	background-color: #ec9e03;
	width: 48%;
	box-sizing: border-box;
	line-height: 33px;
	padding: 16px 23px;	
}

.card__data {
	display: none;
}

.card__video {
	vertical-align: bottom;
}

.card--twitter {
width: calc(100% + 18px);
margin-top: 8px;
background-color: #f5c507;
margin-left: -9px;
margin-right: -9px;
display: flex;
}

.card__image, .card__panels {
	width: 50%;
	box-sizing: border-box;
}

.card__image {
	display: flex;
	justify-content: center;    
    height: 233px;
}

.card__panels {
	padding: 23px 32px 12px 13px;
}

.edges-list {
	font-family: 'PT Sans';
}

.card--twitter .card__btn {
	display: none;
}

.card__twitter-icon {
	fill: #bc7d00;
	opacity: 0.9;
	height: 133px;
	width: 158px;
	margin-top: 60px;
}

.twitter-list__item {	
	background-color: rgba(250, 250, 250, 0.8);
	padding: 8px 40px 5px 18px;
	font-family: 'Arial';
	color: #8f8e8e;
	font-size: 13px;
	line-height: 15px;
	border-radius: 10px;
	letter-spacing: 0.008em;
	position: relative;
	min-height: 43px;
	box-sizing: border-box;
}

.twitter-list__item--active {
	background-color: white;	
}

.twitter-list__item::before {
	content: '';
	position: absolute;
	display: block;
	height: 10px;
	width: 10px;
	left: -9px;
    top: 22px;
	background-image: url('assets/images/mark--active.png');
	opacity: 0.8;
}

.twitter-list__item--active::before {	
	opacity: 1;
}

.twitter-list__item:not(:last-child) {
	margin-bottom: 13px;
}

.card__twitter-list {
	margin-bottom: 12px;
}

.card__btn {
	position: absolute;
	right: 0;
	bottom: 5px;
}

.add-btn {
	display: block;
	height: 40px;
	width:40px;	
	transition: all 0.4s;
}

.add-btn:hover {
	background-color: black;
	opacity: 0.5;
}

.add-btn:active {
	background-color: black;
	opacity: 1;
}


.add-btn::before {
	content: '';
	display: block;
	height: 10px;
	width: 2px;
	background-color: white;
	position: absolute;
	left: 19px;
	top: 15px;
}

.add-btn::after {
	content: '';
	display: block;
	height: 2px;
	width: 10px;
	background-color: white;
	position: absolute;
	left: 15px;
	top: 19px;
}

.card__form {
	position: relative;
}

.twitter-form__input {
	width: 100%;
	height: 30px;
	box-sizing: border-box;
	padding-left: 5px; 
	padding-right: 75px;
	border: 1px solid #d0a806;
	border-radius: 10px;
}



.twitter-form__btn {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;	

}

.twitter-btn {
	font-family: 'Arial';
	font-size: 15px;
	color: white;
	background-image :linear-gradient(to bottom, #e9a725, #cf8e0c);			
	width: 69px;
	display: flex;
    padding: 0;
    align-items: center;
	justify-content: center;
	border-top:  1px solid #d0a806;
	border-right: 1px solid #d0a806;
	border-bottom: 1px solid #d0a806;
	border-left: none;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	cursor: pointer;
	transition: 0.4s;
}

.twitter-btn:hover {	
	color: black;
	background-image :linear-gradient(to top, #e9a725, #cf8e0c);		
}

.twitter-btn:active {	
	color: white;
	background:black;		
}

.description__range {
	display: none;
}

.offer {
	background-color: #474747;
	padding-top: 35px;
}

.offer__header {
	font-family: 'Open Sans';
	font-size: 40px;
	color: #f5c506;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 0.01em;
	margin-bottom: 40px;
}

.offer__lists {
	padding-left:55px;
	padding-top: 40px;
	padding-bottom: 53px;
}

.offer__edges {
	display: none;
}

.offer__gadgets {
	position: relative;	
}

.offer__image {
	width: 540px;
	height: auto;	
}

.sign {
	color: white;
	font-family: 'PT Sans Narrow';
	font-weight: bold;
	font-size: 18px;
	background-color: #f5c506;
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	align-items: center;	
	border-radius: 50%;
}

.offer__sign {
	height: 116px;
	width: 116px;
	position: absolute;
	top: -40px;
    left: -30px;
}

.footer {
	-webkit-box-shadow: 0px -5px 10px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px -5px 10px 0px rgba(0,0,0,0.75);
	box-shadow: 0px -5px 10px 0px rgba(0,0,0,0.75);
}

.footer__logo {
	padding-left: 66px;
    padding-top: 5px; 
	padding-bottom: 8px;
}

.footer__logo .logo__image {
    height: 30px;
    width: 30px;  
}


@media (min-width: 641px) {
	.main-menu__item {
		flex-grow: 1;
	}	

	.advantages-list {
		margin: 0 auto;
	}

	.card--text {
		flex-grow: 1;
		margin-right: 9px;
	}

	.offer__gadgets {
		width: 540px;
		margin: 0 auto;
	}
}
@media (min-width: 1300px) {

	.desktop-content-wrapper {
		max-width: 1020px;
		margin-left: auto;
		margin-right: auto; 
		box-sizing: border-box;
	}

	.header {
		background-image: url('assets/images/big-back.jpg')
	}

	.header__top {
		justify-content: space-between;	
		padding-top: 28px;	
	}

	.logo--header {
		background: none;
		padding: 0;
	}

	.header__top .logo__image {
		width: 83px;
		height: 83px;
		margin-right: 5px;
	}

	.header__top .logo__text {
		font-size: 40px;
		padding-top: 9px;
		letter-spacing: 0.02em;
	}

	.header__menu {
		max-width: 453px;
		height: 41px;	
		margin-top: 43px;
		-webkit-box-shadow: -4px -5px 0px 0px rgba(244,196,6,0.5), -8px -8px 0px 0px rgba(244,196,6,0.3);
		-moz-box-shadow: -4px -5px 0px 0px rgba(244,196,6,0.5), -8px -8px 0px 0px rgba(244,196,6,0.3);
		box-shadow: -4px -5px 0px 0px rgba(244,196,6,0.5), -8px -8px 0px 0px rgba(244,196,6,0.3);
	}

	.main-menu__link {
		font-size: 17px;
	}

	.main-menu__link--about {
		padding-left: 35px;
		padding-right: 15px;
	}	

	.slider {
		position: relative;
	}

	.slide {
		padding-top: 55px;
		padding-bottom: 70px;
		display: flex;		
	}

	.slide__video {
		max-width: 550px;
		height: 327px;
		margin-left: 10px;
		object-fit: cover;
		margin-right: 40px;
	}

	.slide-description {
		display: block;	
		padding-top: 80px;	
	}

	.slide-description__text  {
		font-family: 'Asap';
		font-size: 63px;
		text-transform: uppercase;
		text-align: center;
		letter-spacing: 0.01em;
		line-height: 1.15em;
		
	}

	.slide-description__text--yellow {
		color: #f5c506;
	}

	.slide-description__text--white {
		color: white;
		padding-left: 7px;
	}

	.slider__navigation {
		display: block;
	}

	.slider__button {
		display: block;
		height: 57px;
		width: 32px;
		background-color: #f5c506;	
		font-size: 0;
		position: absolute;	
		top: 42%;
		transition: 0.4s;
		cursor: pointer;
	}

	.slider__button--prev {
		left: 0;
	}

	.slider__button--prev::before {
		content: '';
		display: block;
		position: absolute;
	    height: 10px;
		width: 10px;
		border-left: 5px solid white;
		border-bottom: 5px solid white;
		transform: rotate(45deg);
		top: 20px;
		left: 10px;
	}
	
	
	.slider__button--next {
		right: 0;
	}

	.slider__button--next::before {
		content: '';
		display: block;
		position: absolute;
	    height: 10px;
		width: 10px;
		border-right: 5px solid white;
		border-bottom: 5px solid white;
		transform: rotate(-45deg);
		top: 20px;
		right: 10px;
	}

	.slider__button:hover {
		background-color: white;
	}

	.slider__button:hover.slider__button--prev::before {
		border-left: 5px solid #f5c506;
		border-bottom: 5px solid #f5c506;
	}

	.slider__button:hover.slider__button--next::before {
		border-right: 5px solid #f5c506;
		border-bottom: 5px solid #f5c506;
	}

	.slider__button:active {
		background-color: black;
	}

	.advantages-list {
		justify-content: start;
		padding: 0;
		border-left: 1px solid #d4d4d4;
		border-right: 1px solid #d4d4d4;
	}

	.advantages-list__item{
		max-width: 340px;
		width: 100%;
		padding-bottom: 35px;
	}
	.advantages-list__item:not(:last-child){
		border-right: 1px solid #d4d4d4;
	}

	.advantages-list__text {
		text-align: center;
		font-size: 27px;
	}

	.advantages__icon--design {		
		height: 95px;
		width: 110px;
		margin-top: 55px;
		margin-left: 110px;
		margin-bottom: 0px;
	}

	.advantages__icon--design + p {		
		padding-left: 20px;
	}

	.advantages__icon--custom {
		height: 95px;
		width: 91px;
		margin-left: 137px;
		margin-top: 37px;
		margin-bottom: 19px;
	}

	.advantages__icon--custom + p {
		padding-left: 20px;
	}

	.advantages__icon--free {
		height: 83px;
		width: 81px;
		margin-left: 119px;
		margin-top: 56px;
		margin-bottom: 13px;
	}

	.advantages__icon--free + p {
		margin-left: -16px;
	}

	.description {
		background-image: url('assets/images/description-back.png');
		padding: 40px 0 22px;
	}

	.description__header {
		display: block;
		font-family:'PT Sans';
		font-size: 37px;
		color: white;
		text-transform: uppercase;
		letter-spacing: 0.01em;
		margin-bottom: 31px;
	}

	.interactive-cards {
		justify-content: flex-start;
		margin-bottom: 130px;
	}

	.interactive-cards__item {
		height: 233px;
		flex-grow: 0;
		position: relative;
	}

	.card--text {
		width: 341px;	
		margin-right: 0;
		line-height: 38px;	
	}

	.card--video {
		width: 315px;
	}
	

	.card--twitter {
		width: 330px;	
		margin-left: auto;
		margin-right: 0;
		margin-top: 0;	
		background-color: #ec9e03;
		
	}

	.card--twitter::before {
		content: '22';
		position: absolute;
		font-family:'SegoeWP';
		font-size: 25px;
		color: white;
		right: 20px;
		top: 20px;
	}

	.card__panels {
		display: none;
	}

	.card__image {
		margin: 0 auto;
	}

	.card__btn {
		bottom: 0;
	}

	.card--twitter .card__btn {
		display: block;
	}

	.card__data {
		display: block;
		height: 86px;
		width: 113px;
		box-sizing: border-box;
		position: absolute;
		bottom: -86px;
		left: 0;
	}

	.calendar {
		font-family: 'SegoeWP';
		line-height: 38px;
		padding-top: 15px;	
		background-color: rgba(0,0,0,0.1);	
	}

	.calendar span {
		display: block;
		text-align: center;		
	}

	.calendar__date {
		font-size: 51px;		
	}

	.calendar__month {
		font-size: 21px;
		text-transform: uppercase;
		color: #b26529;
	}

	.description__range {
		display: block;
	}
	
	/* custom range start */
	input[type=range] {
		-webkit-appearance: none;
		margin: 0 auto;
		width: 896px;
		background: transparent;
	  }
	  input[type=range]:focus {
		outline: none;
	  }
	  input[type=range]::-webkit-slider-runnable-track {
		width: 100%;
		height: 15px;
		cursor: pointer;
		animate: 0.2s;		
		background: rgba(255,255,255,0.4);
		border-radius: 10px;
		
	  }
	  input[type=range]::-webkit-slider-thumb {		
		height:15px;
		width: 197px;
		border-radius: 5px;
		background: #ec9e03;
		cursor: pointer;
		-webkit-appearance: none;		
	  }

	  input[type=range]:focus::-webkit-slider-runnable-track {
		background: rgba(255,255,255,0.4);
	  }
	  input[type=range]::-moz-range-track {
		width: 100%;
		height: 15px;
		cursor: pointer;
		animate: 0.2s;		
		background: rgba(255,255,255,0.4);
		border-radius: 10px;
	  }
	  input[type=range]::-moz-range-thumb {
		height:15px;
		width: 197px;
		border-radius: 5px;
		background: #ec9e03;
		cursor: pointer;
		-webkit-appearance: none;
	  }
	  input[type=range]::-ms-track {
		width: 100%;
		height: 15px;
		cursor: pointer;
		animate: 0.2s;		
		background: rgba(255,255,255,0.4);
		border-radius: 10px;
	  }
	  input[type=range]::-ms-fill-lower {
		width: 100%;
		height: 15px;
		cursor: pointer;
		animate: 0.2s;		
		background: rgba(255,255,255,0.4);
		border-radius: 10px;
	  }
	  input[type=range]::-ms-fill-upper {
		width: 100%;
		height: 15px;
		cursor: pointer;
		animate: 0.2s;		
		background: rgba(255,255,255,0.4);
		border-radius: 10px;
	  }
	  input[type=range]::-ms-thumb {
		height:15px;
		width: 197px;
		border-radius: 5px;
		background: #ec9e03;
		cursor: pointer;
		-webkit-appearance: none;
	  }
	  input[type=range]:focus::-ms-fill-lower {
		background: rgba(255,255,255,0.4);
	  }
	  input[type=range]:focus::-ms-fill-upper {
		background: rgba(255,255,255,0.4);
	  }
	/* custom range end */

	.offer {
		padding-top: 43px;
	}

	.offer__header {
		margin-bottom: 10px
	}

	.offer__lists {
		display: flex;
		justify-content: space-between;	
		padding-bottom: 98px;	
	}

	.offer__gadgets {
		margin: 0 0 0 -37px;;
	}

	.offer__sign {
		left: -19px;

	}

	.offer__edges {
		display: block;
		max-width: 383px;
		margin-top: 50px;
	}

	.edges-list__item {
		font-size: 22px;
		color: #a9a9a7;
		position: relative;
		padding-left: 34px;
		letter-spacing: 0.04em;
		line-height: 1.15em;
		position: relative;		
	}

	.edges-list__item:not(:last-child) {		
		margin-bottom: 22px;
	}

	.edges-list__item::before {
		content:'';
		position: absolute;
		display: block;
		height: 14px;
		width:14px;
		background-color: #f5c506;
		border-radius: 50%;
		left: 0;
		top: 4px;
	}

	.footer__logo {
		padding-left: 140px;
	}

	.footer__logo .logo__image {
		height: 54px;
		width: 54px;
	}

	.footer__logo .logo__text {
		font-size: 29px;
	}
	
}